@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
*{
	margin:0;
	padding: 0;
	font-family: Raleway; 
}
body{
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
				url('1.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.main ul{
	float: right;
	display: block;
	list-style-type: none;
	font-size: 15px;
	margin-top: 20px;
	position: relative;

}
.main ul li{
	display: inline-block;
	width: 150px;
	text-align: center;
}
.main ul li i{
	padding-right: 5px;
	color: #eccc68; 
	opacity: 0.6;
}
.main ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    position: relative;
    display: block;
    transition:all 0.6s ease;

}
.main ul li a:hover{
    background-color: #fff; 
    color: #000;
}
.main ul li.active a{
	background-color: #fff;
	color: #000;
}
.main ul ul li{
	list-style-type: none;
	display: none;
}
.main ul li:hover ul li{
	display: block;
}
.login { 
  position: absolute;
  top: 0;
  right: 0;
  padding:15px; 
}
.login ul { 
	position: relative;
  list-style-type: none; 
  margin-right: 5px;
  font-size: 12px;
}
.login ul li{
	display: inline-block;
	margin-top: 7px;
	margin-right: 2px;
}
.login ul li a{
	text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    position: relative;
    display: block;
    transition:all 0.6s ease;
}
.login ul li a:hover{
	background-color: #fff; 
    color: #000;
}
.login ul li i{
	padding-right: 5px;
	color: #eccc68; 
	opacity: 0.6;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
	margin-top: 15px;
	margin-left: 0;
}
header{
	background-color: rgba(202, 211, 200,0.6);
}
.main{
	max-width: 1200px;
	margin: auto;
}

.title img{
	width: 40%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-100%);

}
.title p{
	width: 40%;
	position: absolute;
	top: 54%;
	left: 50%;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: lighter;
	transform: translate(-50%,-100%);
	text-align: center;
	color: #F8EFBA;
}
.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-100%);
}
.button a i{
	padding-right: 5px;
	color: #eccc68; 
	opacity: 0.6;
}
.btn{
	border: 1px solid #eccc68;
	border-radius: 15px;
	padding: 10px 30px;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.btn:hover{
	background-color: #fff;
	color: #000;
	transition: 0.6s ease;

}
.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	height: 60px;
}
.footer ul{
	transform: translateX(1800px);
	margin-right: 0px;
	list-style-type: none;
	font-size: 15px;
	margin-top: 20px;
}
.footer ul li a i{
	font-size: 20px;
	padding-right: 5px;
	color: #eccc68;
}

.footer ul li{
	display: inline-block;
}
.footer h5{
	font-size: 11px;
	color: #eccc68;
	text-align: center;
	opacity: 0.7;

}